@{
    ViewData["Title"] = "Customer Executive - Welcome";
}
    <h1 class="display-2 text-center">Welcome Customer Executive</h1>
<h4 class="display-4 text-center">Click on the options above in the navigation bar!</h4>
<h4 class="display-4 text-primary text-center">Xplore Bank</h4>