@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Xplore - Retail Bank</h1>
        <p>Please login using the folloing credentials for testing the application.</p>
        <p>For Cashier/Teller Screen</p>
        <p>email - <strong>cashier@xplore.com</strong></p>
        <p>pass - <strong>Cashier@1</strong></p>
        <hr />
        <p>For Customer Executive Screen</p>
        <p>email - <strong>executive@xplore.com</strong></p>
        <p>pass - <strong>Executive@1</strong></p>
        <hr class="w-50"/>
        <p>Or you can create your own account and login from the navigation bar</p>
    </div>
